th,
tr {
    text-align: center;
}

.bordes {
    border: 1px solid #1d1936;
}

.cabecera {
    color: #1d1936;
}

.row {
    background: white;
    padding-bottom: 50px;
}

@media (min-width:411px) and (max-width:414px) {
    * {
        font-size: 9px;
    }
    #ocultar {
        display: none;
    }
    .table-striped {
        width: 380px;
    }
    button {
        font-size: 10px;
        padding: 0px;
    }
    .card-body {
        padding: 4px;
    }
    .row {
        padding-bottom: 0px;
    }
}

@media (max-width:375px) {
    * {
        font-size: 8px;
    }
    #ocultar {
        display: none;
    }
    .table-striped {
        width: 300px;
    }
    button {
        font-size: 9px;
        padding: 0px;
    }
    th,
    td {
        padding: 4px!important;
    }
    .row {
        padding-bottom: 0px;
    }
}

@media (max-width:320px) {
    * {
        font-size: 8px;
    }
    #ocultar {
        display: none;
    }
    .table-striped {
        width: 275px;
    }
    button {
        font-size: 10px;
        padding: 0px;
    }
    .card-body {
        padding: 10px;
    }
    .row {
        padding-bottom: 0px;
    }
}

@media (width:768px) {
    * {
        font-size: 10px;
    }
    .contenedor {
        width: 680px;
        margin: 0px;
    }
    button {
        font-size: 12px;
    }
    th,
    td {
        padding: 4px!important;
    }
    .row {
        padding-top: 100px;
    }
}

@media (width:1024px) {
    th,
    td {
        padding: 4px!important;
    }
    .row {
        padding-top: 120px;
    }
    .contenedor {
        margin: 0px;
    }
}