<!--<div class="row align-items-center footer ">
    <div class="col-lg-12 pie">
        <span id="fecha"></span>
        <span class="resaltar">ECOINTEX
        </span>
        <span>


       </span>
    </div>
</div>-->

<div class="row align-items-center footer navbar-expand-lg navbar-light static-top shadow">
    <div class="col-lg-12 pie">
        <span id="fecha"></span>
        <span class="resaltar">ECOINTEX
                </span>
        <span>
            
            
                </span>
    </div>
</div>