       * {
           font-family: 'Dosis', sans-serif;
       }
       
       label {
           margin-right: 15px;
       }
       
       form {
           padding: 0px;
           margin: 0px;
       }
       
       form,
       .form-group,
       .row {
           padding: 0px;
       }
       
       .row {
           margin: 1%;
           font-size: 15px;
       }
       
       .botonDisabled {
           background: rgba(179, 194, 124, 0.3);
       }
       
       .boton {
           background: rgba(41, 64, 29);
           color: white;
           font-size: 15px;
       }
       
       .boton:hover {
           color: white;
           font-weight: bolder;
       }
       
       .danger {
           background: rgb(197, 202, 180);
           font-size: smaller;
           padding: 1%;
           margin: 0px;
           color: red!important;
       }
       
       .alert {
           color: rgba(41, 64, 29);
           font-size: smaller;
           padding: 1%;
           margin: 0px;
           text-align: center;
       }
       
       .btn-rounded {
           font-size: 12px;
           margin-left: 5%;
           margin-top: 2%;
       }
       
       h3 {
           font-weight: bold;
       }
       
       h2 {
           text-align: center;
           font-weight: bold;
           font-size: larger;
           padding-top: 15px;
           padding-bottom: 15px;
       }
       /*.background {
           background: rgba(179, 194, 124, 0.3);
           border: 1px solid rgba(41, 64, 29);
       }*/
       
       .background {
           background: rgba(179, 194, 124);
           border: 1px solid rgba(41, 64, 29);
       }
       
       .enviado {
           text-align: left;
           color: rgba(179, 194, 124);
           font-weight: bold;
       }
       
       .obligatorio {
           color: rgba(179, 194, 124, 0.3);
           font-weight: bold;
           padding-bottom: 20px;
       }
       
       div {
           font-weight: bolder;
       }
       
       * {
           font-family: 'Dosis', sans-serif;
           text-align: left;
           color: rgba(41, 64, 29);
       }
       
       .privacidad {
           font-size: 11px;
       }
       
       .form-check {
           margin-left: 10%;
       }
       
       @media (max-width:700px) {
           .alert {
               font-size: 10px;
           }
           h3 {
               font-size: 16px!important;
               margin-top: 0px;
           }
           .form-group,
           .obligatorio,
           p,
           input {
               font-size: 10px!important;
           }
           .privacidad {
               font-size: 9px;
           }
       }
       
       @media (min-width:768px) and (max-width:1024px) {
           .formulario {
               padding-top: 80px;
           }
       }
       
       @media (min-width:1000px) and (max-width:1400px) {
           label,
           h2 {
               font-size: smaller;
           }
           form {
               margin-bottom: 100px;
           }
           .privacidad {
               font-size: 10px;
           }
       }