<nav class=" navbar-expand-lg navbar-light static-top shadow">
    <div class="row ">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 logo text-center">



            <img style="height: 60px;" src="../../../assets/logos/ecointexTrans.png ">

        </div>
        <div class="col-lg-4"></div>


    </div>

</nav>

<div class="container-fluid contenido ">
    <div class=" border-0 ">
        <h2 class="font-weight-light ">Un modelo para el cambio</h2>


        <div class="row  titulo">
            <div class="col-lg-12 ">
                <h4 style="text-align: center;">Nos implicamos contigo para reducir la huella del sector textil
                </h4>

            </div>
        </div>

        <div class="row  contenidoCuerpo">

            <div class=" col-lg-2 col-sm-6  col-xs-4 vertical-align col-xl-2 contacto " style=" margin-left: 50px;">
                <app-contacto></app-contacto>

            </div>




            <div class="col-lg-4 col-sm-12 col-xs-12 col-12   align-self-center contenido ">


                <ul>
                    <li>Construimos una respuesta colectiva con el Sector Textil para iniciar la transición a un modelo dde reciclado más justo y sostenible</li>
                    <li>Concienciamos a la ciudadanía para un consumo inteligente y participativo</li>
                    <li>Apostamos por la trazabilidad para mejorar la transparencia en el reciclaje</li>
                </ul>
            </div>
            <div class="col-lg-6 col-sm-0 col-xs-0  col-xl-6 "></div>

            <app-politica-privacidad></app-politica-privacidad>
        </div>

    </div>
</div>


<div class="container-fluid pie ">
    <app-footer></app-footer>
</div>