<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">
                    POLÍTICA DE PRIVACIDAD ECOINTEX</h6>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
            </div>
            <div class="modal-body">

                <div>
                    <ol>
                        <li>Identificación
                            <ul>
                                <li>
                                    Titular: <span>Asociación para la sostenibilidad del sector textil (en adelante, “ECOINTEX”)</span>

                                </li>
                                <li>
                                    NIF: <span>G88583489</span>
                                </li>
                                <li>
                                    Domicilio social: <span>Juan Bravo 5 Planta Baja. 28006 Madrid</span>
                                </li>
                                <li>
                                    Correo electrónico: <span>ecointex@ecointex.org</span>
                                </li>
                            </ul>
                        </li>
                        <li>Información
                            <p>
                                Mediante la aceptación de la presente Política de Privacidad te informamos de que los datos personales que facilites a través de la página web ubicada en la URL […] (en adelante, el “Sitio Web”) serán tratados por ECOINTEX.
                            </p>
                            <p>
                                Debes leer con atención esta Política de Privacidad, que ha sido redactada de forma clara y sencilla para facilitar su comprensión, pudiendo determinar, de forma libre y voluntaria si deseas facilitar sus datos personales a ECOINTEX.
                            </p>
                        </li>
                        <li>
                            ¿Con qué finalidad tratará ECOINTEX tus datos? ¿Cuál es la legitimación de ECOINTEX para tratar tus datos personales?
                            <p>
                                Los datos personales que facilites a través del Sitio Web serán tratados por ECOINTEX con la finalidad de responder a las cuestiones planteadas a través de los canales de contacto habilitados.
                            </p>
                            <p>
                                El tratamiento de tus datos con esta finalidad se encuentra legitimado en tu consentimiento, que proporcionas mediante la acción expresa de realizar tu consulta. Podrás retirar tu consentimiento en cualquier momento, sin embargo, en ese caso no podremos
                                dar trámite a la consulta o cuestión planteada.
                            </p>
                            <p>
                                En caso de que facilites datos de terceros, manifiestas contar con el consentimiento de los mismos y te comprometes a trasladarle la información contenida en la Política de Privacidad, eximiendo a ECOINTEX de cualquier responsabilidad en este sentido.
                            </p>
                        </li>
                        <li>
                            Transferencias internacionales de datos
                            <p>
                                Te informamos de que ECOINTEX tiene contratados los servicios de Microsoft y Google, cuyos servidores se encuentran alojados en EEUU, lo que implica una transferencia internacional de datos. Estas transferencias internacionales de datos se encuentran
                                regularizadas puesto que las entidades mencionadas están adheridas al Protocolo de Privacy Shield.
                            </p>
                        </li>
                        <li>
                            Conservación de los datos
                            <p>
                                Los datos personales que nos facilites serán conservados por ECOINTEX durante el plazo necesario para dar trámite y contestación a tu solicitud y, una vez finalizado el mismo, durante el plazo de prescripción de las potenciales acciones legales derivadas
                                de la citada solicitud.
                            </p>

                        </li>
                        <li>
                            Ejercicio de derechos
                            <p>
                                Como titular de los datos, puedes enviar un escrito a ECOINTEX, a la dirección de contacto indicada en el encabezado de la presente Política de Privacidad, adjuntando fotocopia de tu documento de identidad, en cualquier momento y de manera gratuita, para
                                ejercer los siguientes derechos:

                            </p>
                            <ol>
                                <li type="a">Derecho de Acceso: <span>Tienes derecho a que ECOINTEX te informe sobre si está tratando o no tus datos personales y, en tal caso, poder acceder
                                a dichos datos y recibir información sobre los fines para los que son tratados,
                                las categorías de datos afectados por el tratamiento, los destinatarios a los que se comunicaron tus datos personales y
                                el plazo previsto de conservación de los datos, entre otra información.</span>
                                </li>
                                <li type="a">Derecho de Rectificación y Supresión: <span>Tienes derecho a solicitar la supresión de tus datos personales siempre que se cumplan los requisitos legales de aplicación, así como la rectificación de los datos inexactos que te
                                    conciernan cuando.</span>
                                </li>

                                <li type="a">Limitación del tratamiento, revocación del consentimiento y oposición total o parcial al tratamiento: <span> En determinadas circunstancias (por ejemplo, en caso de que hayas impugnado la exactitud de sus datos, mientras se verifica
                                    la exactitud de los mismos), podrás solicitar que se limite el tratamiento de tus datos personales, siendo estos únicamente tratados para el ejercicio o la defensa de reclamaciones.</span>
                                    <p> También tendrás derecho a revocar el consentimiento prestado, y a oponerte al tratamiento en cualquier momento en caso de que el tratamiento esté basado en el interés legítimo de ECOINTEX. En este caso, ECOINTEX cesará
                                        en el tratamiento, salvo acreditación de motivos legítimos.</p>
                                </li>

                                <li type="a">Portabilidad de sus datos: <span>Tendrás derecho a recibir los datos personales que hayas facilitado a ECOINTEX en un formato estructurado, común y de
                                    lectura mecánica, y a poder transmitirlos a otro responsable del tratamiento, en los supuestos legalmente previstos a
                                    estos efectos.
</span>
                                    <p><span>Asimismo, podrás interponer una reclamación relativa a la protección de tus datos personales ante la Agencia Española de
Protección de Datos en la dirección C/ Jorge Juan, 6, 28001, Madrid, cuando consideres que ECOINTEX ha vulnerado los
derechos que te son reconocidos por la normativa aplicable en protección de datos.</span></p>
                                </li>
                            </ol>
                        </li>
                        <li>
                            Cambios
                            <p>
                                ECOINTEX se reserva el derecho de revisar su Política de Privacidad en el momento que lo considere oportuno, en cuyo caso se comunicará a los Usuarios. Por esta razón, te rogamos que compruebes de forma regular esta declaración de privacidad para leer
                                la versión más reciente de la Política de Privacidad de ECOINTEX.

                            </p>
                        </li>
                        <p id="actualizacion">Última actualización: 28 de febrero de 2020.</p>
                    </ol>


                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <button type="button" class="btn btn-primary">okay</button>

            </div>-->
        </div>
    </div>
</div>