<div class="row comercio">
    <div class="col-lg-12  ">
        <app-navbar>
        </app-navbar>
    </div>
</div>


<div class="row comercio">
    <div class="col-lg-8 col-md-push-4 col-sm-12 col-md-12">
        <app-comercio>

        </app-comercio>
        <div class="row ">

            <div class="col-lg-12 col-md-push-3 col-sm-12  col-md-12">


                <app-comentarios></app-comentarios>
            </div>

        </div>
    </div>
    <div class="col-lg-4  col-md-push-4 col-sm-12 col-md-12 menu-lateral ">
        <app-menu-lateral></app-menu-lateral>
        <div class="row">
            <div class="col-lg-12 col-md-push-3 col-sm-12  col-md-12">
                <app-informacion-personal></app-informacion-personal>

            </div>
        </div>
        <div class="row ">
            <div class="col-lg-12 col-md-push-3 col-sm-12 col-md-12">
                <app-menu-dinamico></app-menu-dinamico>

            </div>
        </div>
    </div>
</div>
<p>
    <app-footer></app-footer>
</p>