<div class="row principal" style="margin-bottom: 0px;">
    <div class="col-lg-12 parent  my-auto  text-center  ">
        <header>
            <nav>
                <div class="logo"> D'IXX al XXI
                </div>
                <div class="menu">
                    <ul>

                        <li>
                            <a [routerLink]="['/home']">Home</a>
                        </li>
                        <li>
                            <a [routerLink]="['/clientes/form']">Suscribirse</a>
                        </li>
                        <li><a [routerLink]="['/contacto/form']">Contacto</a></li>
                        <li class="form">
                            <form action="#" class="search-top-form">
                                <input type="text" id="s" placeholder="para buscar escribe y enter..." #buscarSitio (keyup.enter)="findByName(buscarSitio.value); ">
                                <span class="icon fa fa-search"></span>
                            </form>
                        </li>

                        <button *ngIf="!authService.isAuthenticated()" class="btn btn-light" [routerLink]="['/admin']">Login</button>
                        <button *ngIf="authService.isAuthenticated()==true && authService.hasRole('ROLE_ADMIN')" class="btn btn-light" [routerLink]="['/admin']"> Admin</button>

                    </ul>

                </div>

            </nav>
        </header>
    </div>
</div>