<div class="row">
    <div class="col-lg-12">
        <app-navbar>
        </app-navbar>
    </div>
</div>
<div class="row formulario bg-light ">
    <div class="col-lg-12  ">
        <div class="comment-form-wrap pt-5  ">
            <h3 class="mb-5  "><span>Nueva Contraseña</span></h3>
            <div class="row ">
                <div class="col-lg-2"></div>
                <div class="col-md-8 ">
                    <form #passwordForm="ngForm" class="p-5 background ">

                        <div class="form-group">
                            <label for="password">Constraseña *</label>
                            <input type="password" class="form-control" #password="ngModel" id="password" [(ngModel)]="usuario.password" name="password" required minlength="5">
                            <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">


                                <div *ngIf="password.errors.minlength ">
                                    La contraseña debe tener al menos 5 caracteres
                                </div>
                            </div>

                        </div>


                        <button [ngClass]="{'boton': passwordForm.valid}" (click)="resetPassword(passwordForm);" class="btn btn-rounded botonDisabled" type="button" role="button">Modificar </button>

                    </form>

                </div>
                <div class="col-lg-2"></div>

            </div>
        </div>
    </div>
</div>
<div class="row formulario bg-light  contrasena">
    <div class="col-lg-3 col-md-3 col-3"></div>

    <div class="col-lg-6 col-md-6 col-6">

    </div>
    <div class="col-lg-3 col-md-3 col-3"></div>

</div>
<app-footer></app-footer>