.formulario {
    padding-top: 80px!important;
    padding-bottom: 10px !important;
}

.contrasena {
    padding-bottom: 50px !important;
    text-align: center;
}

.botonDisabled {
    background: #00004d;
}

.boton {
    background: #00004d;
    color: white
}

.boton:hover {
    color: white;
    background: #38688B;
}

h3 {
    font-weight: bold;
    text-align: center;
}

.background {
    background: white;
}

.enviado {
    text-align: center;
    color: #4F6E85;
    font-weight: bold;
}

.obligatorio {
    color: #4F6E85;
    font-weight: bold;
    padding-bottom: 50px;
}

.estadoTrue {
    display: inline;
}

.estadoFalse {
    display: none;
}

div {
    font-weight: bolder;
}

form {
    border: 1px solid black;
}

@media (max-width:700px) {
    .alert {
        font-size: 10px;
    }
    h3 {
        font-size: 16px!important;
        margin-top: 0px;
    }
    .form-group,
    .obligatorio,
    p,
    input {
        font-size: 10px!important;
    }
}