    * {
        font-family: 'Amaranth', sans-serif;
    }
    
    #usuario {
        color: #0C3B69;
        font-size: 1em;
        text-transform: uppercase;
        padding-top: 15px;
        padding-bottom: 25px;
    }
    
    .form-group>label {
        font-weight: bold;
    }
    
    .background,
    .fotos {
        background: white;
    }
    
    .row {
        padding-top: 80px;
    }
    
    h2,
    #usuario,
    p {
        text-align: center!important;
    }
    
    input,
    textarea,
    .img {
        font-style: italic;
        font-size: 14px;
    }
    
    small {
        color: black;
        font-weight: normal;
    }
    
    h4,
    .lista {
        font-weight: bold;
        text-align: center;
        padding-top: 20px;
    }
    
    #nuevo {
        padding-top: 20px
    }
    
    .formulario {
        padding-top: 80px!important;
    }
    
    .fotos {
        padding-top: 40px!important;
    }
    
    .parrafo {
        height: 800px;
    }
    
    .rowfotos {
        padding-top: 40px;
    }
    
    span {
        color: #1D1936;
    }
    
    .btn-dark {
        margin-top: 20px;
    }
    
    #comercio {
        color: #0C3B69;
        font-size: 1em;
        text-transform: uppercase;
        padding-top: 15px;
        padding-bottom: 25px;
    }
    
    .container {
        padding-top: 30px;
    }
    
    .botonDisabled {
        background: #00004d;
    }
    
    .boton {
        background: #00004d;
        color: white;
        margin-bottom: 10px;
    }
    
    .boton:hover {
        color: white;
        background: #38688B;
    }
    
    input[id="img"],
    input[id="img1"],
    input[id="img2"] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }
    
    .estadoTrue {
        background-color: #38688B;
        font-size: 12px;
        font-weight: 400;
        color: #fff;
        transition: all .5s;
        cursor: pointer;
        padding: 15px 40px !important;
        text-transform: uppercase;
        width: fit-content;
        text-align: center;
        align-items: center;
    }
    
    .estadoTrue:hover {
        box-shadow: 0 0 15px 0#38688B;
    }
    
    p {
        text-align: center;
    }
    
    #img+label,
    #img1+label,
    #img2+label {
        cursor: pointer;
    }
    
    #img:focus+label,
    #img1:focus+label,
    #img2:focus+label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }
    
    .imagen {
        font-size: 12px;
        font-style: italic;
    }
    
    .vertical-align {
        display: flex;
        align-items: center;
    }
    
    .form-group {
        margin: 12px;
    }
    
    .botonImg {
        padding-top: 1px;
    }
    
    .i {
        font-size: 13px;
        background: #F1F0C9;
        text-align: justify!important;
    }
    
    .boton {
        background: #00004d;
        color: white
    }
    
    .boton:hover {
        color: white;
        background: #38688B;
    }
    
    p {
        margin: 0px;
        text-align: justify;
    }
    
    .columna {
        padding: 0px;
    }
    
    .iBoton {
        background: #F1F0C9;
        margin-left: 15px;
        font-size: 12px;
    }
    
    @media (max-width:416px) {
        form {}
        h2,
        h4 {
            font-size: 20px;
        }
        .alert,
        .i {
            font-size: 10px;
        }
        img {
            width: 400px!important;
        }
        button,
        p {
            font-size: 10px;
        }
    }
    
    @media (width: 1024px) {
        .columna {
            padding-top: 0px!important;
        }
        .i,
        .alert {
            font-size: 14px;
        }
    }
    
    @media (width:768px) {
        .columna {
            padding-top: 0px!important;
        }
        .i,
        .alert {
            font-size: 14px;
        }
    }